<div id="<%= dom_id screen_time %>">
  <p>
    <strong>Duration:</strong>
    <%= screen_time.duration %>
  </p>

  <p>
    <strong>Screen type:</strong>
    <%= screen_time.screen_type %>
  </p>

  <p>
    <strong>App name:</strong>
    <%= screen_time.app_name %>
  </p>

</div>
